/* style.module.css */
/* Эхний үндсэн div */
.contentDivList {
    display: inline-block;
    
  }
  .contentDivList .new_title{
  font-size: 3rem;
  text-transform: capitalize;
  color: #444;
}
  /* Мэдээний container */
  .contentDivListInner {
    width: 60%;
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Зураг болон мэдээний мэдээлэл */
  .item {
    display: flex;
    align-items: center;
  }
  
  /* Зураг */
  .item img {
    max-width: 50%;
    height: 100%;
  }
  
  /* Мэдээний гарчиг */
  .title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #012ef9;
    margin-bottom: 10px;
  }
  
  /* Үйлдвэрлэлийн огноо */
  .date {
    font-size: 1.4rem;
    color: #777;
    display: flex;
    align-items: center;
  }
  
  /* Үйлдвэрлэлийн огнооны зургийн албан тэмдэг */
  .calendar {
    font-size: 1.4rem;
    margin-right: 5px;
    width: 15px;
  }
  