.boxContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.courses .boxContainer .box:hover .image img {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
.content{
  height: 160px;
}

.courses .boxContainer .box .hide {
  display: none;
}

.courses .boxContainer .box .image {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.courses .boxContainer .box .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.heading{
  font-size: 3rem;
}
.courses .boxContainer .box .image h3 {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: 0.5rem 1.5rem;
  background: #fff;
}

.courses .boxContainer .box .content {
  padding: 2rem;
  text-align: center;
  border: 0.1rem solid #0eb582;
}

.courses .boxContainer .box .content h3 {
  font-size: 2rem;
  text-transform: capitalize;
  color: #444;
}

.courses .boxContainer .box .content p {
  padding: 1rem 0;
  font-size: 1.6rem;
  line-height: 2;
  color: #777;
}

.courses .boxContainer .box .content .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 2rem;
  padding-top: 2rem;
  border-top: 0.1rem solid #0eb582;
}

.courses .boxContainer .box .content .icons span {
  font-size: 1.5rem;
  text-transform: capitalize;
  color: #444;
}

.courses .boxContainer .box .content .icons span .i {
  color: #0eb582;
  padding-right: 0.5rem;
}

.courses .loadMore {
  margin-top: 2rem;
  text-align: center;
}

.courses .loadMore.hide {
  display: none;
}
